@import src(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);



* {
  margin: 0px;
  padding: 0px;
  outline: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
h1 {
  margin-bottom: 0rem;
}
body {
  background: #e2e1e0;
  /* background: linear-gradient(to bottom, #aaffa9, #11ffbd); */
}
/* title header of application
 */
.titleHeader {
  font-family: Strong;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 60px;
  line-height: 76px;
  background-color: #222527;
  padding: 10px;

  color: #18a3fc;
  mix-blend-mode: darken;
}
/* left menu css starts form here */
aside {
  height: 100vh;
  width: 165px;
  float: left;

  background: #222527;
}
section {
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
  width: 85%;
  left: 170px;
  margin-bottom: 20px;
}
.mainSection {
  background: #fff;
  border-radius: 2px;
  /* margin-left: 10px !important; */
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.todayTasks {
  width: 50%;
  background-color: yellow;
  height: 400px;
}
.Padding20 {
  padding-left: 20px;
}

.navi {
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid #1c1f21;
}

.navi li {
  list-style-type: none;
  color: #5a5b5b;
  padding: 10px;
  border-bottom: 1px solid #272a2c;
  border-top: 1px solid #1c1f21;
  overflow: auto;
  cursor: pointer;
  text-align: center;
}

.navi li:first-child {
  border-top: none;
}

.fa {
  color: #18a3fc;
  display: block;
}

ul li:hover .fa {
  color: #0f82da;
}

ul li:hover .linktitle {
  text-align: center;
  color: #6c6d6e;
}

.navi li div {
  float: left;
}

.icons {
  padding: 10px;
}

.linktitle {
  line-height: 35px;
  padding-left: 10px;
  text-align: center !important;
}
#head1 {
  background-color: lightcoral;
  text-decoration: none;
  color: #363333;
}
@media all and (max-width: 992px) {
  section {
    width: 86%;
  }
}
@media all and (max-width: 768px) {
  section {
    width: 73%;
  }
}
/* Reponsive menu code */
@media all and (max-width: 600px) {
  aside {
    width: 60px;
    padding: 0px 10px;
  }
  section {
    width: 78%;
    left: 70px;
  }

  ul li {
    overflow: hidden;
  }

  .linktitle {
    position: absolute;
    z-index: -1;
    left: -50px;
    padding: 29px 15px;
    line-height: 0px;
    background: #222527;
  }

  ul li:hover .linktitle {
    left: 50px;
    visibility: visible;
    z-index: 1;
  }
  .icons {
    padding: 10px 0px 10px 0px;
  }
  .titleHeader {
    font-size: 40px;
    line-height: 50px;
  }
  ul li:hover .icons {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .AddNewBtn {
    visibility: hidden;
  }
  .button-three {
    margin-left: 27px;
    visibility: visible !important;
  }
}
/* left menu code ending  */

/* ADD NEW TASK BUTTON ALL CSS   */
.AddNewBtn {
  letter-spacing: 1px;
  font-size: 12px;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  font-family: sans-serif;
  cursor: pointer;
  border: none;
  padding: 12px 20px 12px 20px;
  margin: 20px;
  background-color: transparent;
  text-align: center;
  color: #444;
}
.AddNewBtn:focus {
  outline: none;
}
.with-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35), 0 1px 1px 0 rgba(0, 0, 0, 0.59);
  background-color: rgba(255, 255, 255, 0.3);
}
.AddNewBtn:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3), 0 15px 15px 0 rgba(0, 0, 0, 0.4);
  background-color: #fff !important;
  color: #222 !important;
}
.AddNewBtn:active {
  -webkit-transition: 0.05s ease-out;
  transition: 0.05s ease-out;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.44), 0 1px 1px 0 rgba(0, 0, 0, 0.68);
}
.colorStyle {
  background-color: #4caf50;
  color: white;
  font-size: large;
  border-radius: 2rem;
}
/* end of button css */
/* button for mobile screens */
/*Button Three*/
.button-three {
  position: relative;
  background-color: #18a3fc;
  color: #444;
  font-size: 1.3rem;
  visibility: hidden;
  border: none;
  padding: 10px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.button-three:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97b1bf;
  color: #000;
}

.button-three:after {
  content: "";
  background: #18a3fc;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button-three:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.form-group small {
}

.form-group.success input {
  border: 2px solid lightgreen;
}

.form-group.error input {
  border: 2px solid red;
}
