body {
  background-color: #c19c9c;
  width: 100vw;
}
.appTitle {
  width: 637px;
  height: 76px;

  font-family: Strong;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 76px;

  /* Gray 1 */

  color: #333333;
  mix-blend-mode: darken;
}
.mainPage {
  align-self: flex-start;
  margin: auto;

  width: 1200px;
  height: 1024px;

  background: rgba(255, 255, 255, 0.78);
  /* Yellow */

  border: 1px solid #f2c94c;
  box-sizing: border-box;
}
/* ADD NEW TASK BUTTON ALL CSS   */
.AddNewBtn {
  letter-spacing: 1px;
  font-size: 12px;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  font-family: sans-serif;
  cursor: pointer;
  border: none;
  padding: 12px 20px 12px 20px;
  margin: 5px;
  background-color: transparent;
  text-align: center;
  color: #444;
}
.AddNewBtn:focus {
  outline: none;
}
.with-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35), 0 1px 1px 0 rgba(0, 0, 0, 0.59);
  background-color: rgba(255, 255, 255, 0.3);
}
.AddNewBtn:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3), 0 15px 15px 0 rgba(0, 0, 0, 0.4);
  background-color: #fff !important;
  color: #222 !important;
}
.AddNewBtn:active {
  -webkit-transition: 0.05s ease-out;
  transition: 0.05s ease-out;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.44), 0 1px 1px 0 rgba(0, 0, 0, 0.68);
}
.colorStyle {
  background-color: #4caf50;
  color: white;
  font-size: large;
  border-radius: 2rem;
}
/* end of button css */

.mainbackground {
  width: 1200px;
  height: 1024px;

  background: rgba(255, 255, 255, 0.78);
  /* Yellow */

  border: 1px solid #f2c94c;
  box-sizing: border-box;
  margin: auto;
}
.leftSide {
  width: 600px;
}
.upcomingCards {
  width: 491px;
  height: 114px;

  background: #e2dcdc;
}
#UP {
  padding-top: 20px;
  text-align: bottom;
}
#head1 {
  text-decoration: none;
}

#cardcol1 {
  list-style: none;
  border: none;
  background: #d3c9c9;
}
#cardcol2 {
  list-style: none;
  border: none;
  background: #d3c9c9;
}

#cardcol3 {
  list-style: none;
  border: none;
  background: #d3c9c9;
}

#head1 {
  text-decoration: none;
  color: #363333;
}

#collapse1 {
  text-decoration: none;
  color: #333333;
}

#head1 {
  background-color: lightcoral;
  text-decoration: none;
  color: #363333;
}
#b1 {
  text-decoration: none;
  color: #363333;
}
#b2 {
  text-decoration: none;
  color: #363333;
}
#b3 {
  text-decoration: none;
  color: #363333;
}
#b4 {
  text-decoration: none;
  color: #363333;
}
#b5 {
  text-decoration: none;
  color: #363333;
}

#head2 {
  background-color: lightseagreen;
  text-decoration: none;
  color: #363333;
}

#head3 {
  background-color: lightgreen;
  text-decoration: none;
  color: #363333;
}
#head4 {
  background-color: lightpink;
  text-decoration: none;
  color: #363333;
}
#head5 {
  background-color: lightsalmon;
  text-decoration: none;
  color: #363333;
}

.card-body {
  background-color: lightgoldenrodyellow;
}

.list-group-item {
  background-color: lightgoldenrodyellow;
}

#head32 {
  background-color: lightskyblue;
}
#head22 {
  background-color: lightskyblue;
}
#head11 {
  background-color: lightskyblue;
}

/* forms fields changing BACKGROUND color */
input:not(:placeholder-shown) {
  background-color: #96d3ec !important;
}

input:placeholder-shown {
  background-color: #96d3ec !important;
}
input,
textarea {
  background-color: #96d3ec !important;
}
