body {
  background-color: #c19c9c;
  width: 100vw;
}
.appTitle {
  width: 637px;
  height: 76px;

  font-family: Strong;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 76px;

  /* Gray 1 */

  color: #333333;
  mix-blend-mode: darken;
}
.mainPage {
  align-self: flex-start;
  margin: auto;

  width: 1200px;
  height: 1024px;

  background: rgba(255, 255, 255, 0.78);
  /* Yellow */

  border: 1px solid #f2c94c;
  box-sizing: border-box;
}
.btnAddNew {
  width: 580px;
  height: 65px;
  font-size: 35px;
  background: #d3c9c9;
}
.btnAddNew button:hover {
  background: #363333;
}
.mainbackground {
  width: 1200px;
  

  background: rgba(255, 255, 255, 0.78);
  /* Yellow */

  border: 1px solid #f2c94c;
  box-sizing: border-box;
  margin: auto;
}
.leftSide {
  width: 600px;
}
.upcomingCards {
  width: 491px;
  height: 114px;

  background: #e2dcdc;
}
#UP{
  padding-top: 20px;
  text-align: bottom;
}
#head1{
  text-decoration: none;
  
}

#cardcol1 {
  list-style: none;
  border: none;
  background: #d3c9c9;
}
#cardcol2 {
  list-style: none;
  border: none;
  background: #d3c9c9;
}

#cardcol3 {
  list-style: none;
  border: none;
  background: #d3c9c9;
}

#head1{
  text-decoration: none;
  color: #363333;
}

#collapse1{
  text-decoration: none;
  color: #333333;
}

#head1 {
  background-color: lightcoral;
  text-decoration: none;
  color: #363333;
}
#b1{
  text-decoration: none;
  color: #363333;

}
#b2{
  text-decoration: none;
  color: #363333;

}
#b3{
  text-decoration: none;
  color: #363333;

}
#b4{
  text-decoration: none;
  color: #363333;

}
#b5{
  text-decoration: none;
  color: #363333;

}


#head2 {
  background-color: lightseagreen;
  text-decoration: none;
  color: #363333;
}

#head3 {
  background-color: lightgreen;
  text-decoration: none;
  color: #363333;
}
#head4 {
  background-color: lightpink;
  text-decoration: none;
  color: #363333;
}
#head5 {
  background-color: lightsalmon;
  text-decoration: none;
  color: #363333;
}

.card-body {
  background-color:lightgoldenrodyellow;
}

.list-group-item{
  background-color:lightgoldenrodyellow;
}

#head32{
  background-color: lightskyblue;
}
#head22{
  background-color: lightskyblue;
}
#head11{
  background-color: lightskyblue;
}